.custom-button {
  border-radius: 10px;

  height: 50px;
  max-width: 120px;
  color: white;
  background-color: orange;
  border: none;
  font-size: 1rem;
}
.center {
  align-self: center;
  justify-content: center;
}
