.custom-button{
    border-radius:25px;
    width:100px;
    height:50px;
    color:white;
    background-color:#2582fa ;
    border:none;
   
}
.center{
    align-self:center;
    justify-content: center;
}