@import "../../colors.scss";

.sub-section-container {
  background-color: $tertiary;
  border-radius: 10px;
  padding: 0.75rem;
  &.center {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    width: 100%;
    // gap: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .mobile-flex-wrap {
    @media (max-width: 390px) {
      flex-wrap: wrap;
    }
  }
  .flex-row {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
  }
  a {
    color: $text;
    text-decoration: none;
    &:hover {
      color: $textHover;
    }
  }
}
