.home-page {
  .picture-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    h1 {
      text-align: center;
      width: 95%;
    }
    .responsive {
      width: 80%;
      height: auto;
      @media (max-width: 500px) {
        width: 90%;
      }
    }
  }
}
