.cv-base-power {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
.cv-base-power .content {
  width: 50%;
  margin: 1%;
  background-color: #333333;
  border-radius: 25px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cv-base-power .main-section {
  width: 75%;
  background-color: #222222;
  border-radius: 25px;
  justify-content: space-around;
  padding: 2%;
  margin: 1%;
}

.cv-base-power .section {
  width: 100%;
  display: flex;
  background-color: #222222;
  border-radius: 25px;
  justify-content: space-around;
  padding: 2%;
  margin: 1%;
}
.cv-base-power .results {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
