.strength-comparison {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;

  gap: 2rem;

  @media (max-width: 800px) {
    min-width: 75%;
    font-size: 1.2rem;
  }

  h1,
  h2,
  h3 {
    margin: 0;
  }
  .content {
    display: flex;
    gap: 2rem;
    @media (max-width: 1200px) {
      flex-direction: column;
    }
  }
  .results {
    margin-top: 1rem;
    display: flex;
    //flex-direction: column;
    gap: 0.5rem;
    justify-content: flex-start;
  }
}
