body {
  font-size: 1.4em;

  background-color: #111111;
  color: white;
}
h2,
h3 {
  margin: 1%;
}

h3 {
  width: 100%;
}
.talent {
  display: flex;
  flex-direction: column;
  padding: 2%;
  margin-top: 60px;
  .content {
    display: flex;
    @media (max-width: 1060px) {
      flex-direction: column;
    }
  }
}
.title {
  align-self: center;
}
