@import "../../colors.scss";
.main-section-container {
  background-color: $secondary;
  padding: 1rem;
  border-radius: 10px;
  .title {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    justify-content: space-around;
    &.row {
      flex-direction: row;
    }
    &.mobile-col {
      @media (max-width: 600px) {
        flex-direction: column;
      }
    }
  }
}
