.header {
  display: flex;
  width: 100vw;
  position: absolute;
  justify-content: center;
  top: 0;
  background-color: #045d80;
  height: 60px;
}

.container {
  width: 70%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container li {
  padding: 1%;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  border-bottom: 2px solid white;
}
