@import "../../colors.scss";
.sub-section {
  h2,
  h3 {
    margin: 1%;
  }

  h3 {
    width: 100%;
  }
  .material-title {
    display: flex;
    justify-content: center;
  }

  .material {
    display: flex;
    justify-content: space-around;
    background-color: $tertiary;
    border-radius: 10px;
    margin-bottom: 1%;
  }
  .material-info {
    margin: 1%;
  }
}
