.character-icon {
  border: none;
  background-color: rgba(0, 0, 0, 1);
  width: 80px;
  display: flex;
  padding: 0;
  justify-self: stretch;
  border-radius: 10px;
  border: 4px solid gold;
  &:hover {
    cursor: pointer;
  }
  img {
    width: 75px;
  }
}
