.weapon {
  display: flex;
  flex-direction: column;
  padding: 2%;
  margin-top: 60px;
  .content {
    display: flex;
    justify-content: center;
    gap: 2rem;
    @media (max-width: 1050px) {
      flex-direction: column;
    }
  }
  .title {
    align-self: center;
  }
}
