body {
  font-size: 1.4em;

  background-color: #111111;
  color: white;
  padding: 2%;
}
h2,
h3 {
  margin: 1%;
}

h3 {
  width: 100%;
}
.weapon {
  display: flex;
  flex-direction: column;
}
.title {
  align-self: center;
}

.content {
  display: flex;
}
