@import "../../colors.scss";
.form-input-container {
  border-radius: 10px;
  display: flex;
  max-width: 8ch;
  gap: 0.5rem;

  .form-input {
    font-size: 1.4rem;
    width: 70%;
    max-width: 11ch;
    min-width: 5ch;

    border: none;
    color: $text;
    &.white {
      background-color: $white;
    }
    &.green {
      background-color: $green;
    }
    &.blue {
      background-color: $blue;
    }
    &.purple {
      background-color: $purple;
    }
    &.orange {
      background-color: $orange;
    }
  }
}
